{% if results %}

<div id="container" class="row">
<div class="col s12 lighten-2">
    <div class="row">
	<div class="col s6">
		<h4>Search for: {{term}}</h4>
    		<p>{{ count }} results ({{timing}} ms)</p>
	</div>

      <table>
        <thead>
          <tr>
              <th data-field="User">User</th>
              <th data-field="Tweet">Tweet</th>
              <th data-field="Created">Created</th>
          </tr>
        </thead>
        <tbody>
{% for doc in results %}
<tr>
<td>{{doc.user.name}}</td>
<td>"{{doc.text}}"</td>
<td>"{{doc.created_at}}"</td>
</tr>


</div>
{% endfor %}
</tbody>
</table>
{% endif %}

