{% if page %}
{% set i = page|int %}
{% else %}
{% set i = 1 %}
{% endif %}

{% if i > 1 %}
<a class="left" href="/search?term={{term}}&page={{i-1}}">
	<button type="button" class="btn btn-default navbar-btn">Back<i class="material-icons left">fast_rewind</i></button>
</a>
{% endif %}

{% if i > 1 or page == "" %}
<a class="right" href="/search?term={{term}}&page={{i+1}}">
	<button type="button" class="btn btn-default navbar-btn">Next<i class="material-icons right">fast_forward</i></button>
</a>
{% endif %}

</div>
