<form name="input" action="/search" method="get">
  <nav>
    <div class="nav-wrapper">
        <div class="input-field cyan lighten-4">
        <i class="material-icons prefix">search</i>
	      <input class="form-control validate" id="term" name="term" type="search">
           <i class="mdi-navigation-close"></i>
        </div>
      </form>
    </div>
  </nav>
</form>


